
<div>
    <img src="https://images.shiksha.com/mediadata/shikshaOnline/mailers/2021/naukri-learning/oct/27oct-v3/Insurance.jpg"
     class="img-fluidS" alt="..." id="tem" style="width: 700px; height: 395px;">
    <p class="start1"><b>INSURENCE</b></p>
    <p class="te"><b>Unlocking the potential of insurance through technology</b></p>
    <p>Leveraging our rich technical & domain expertise and competitive cost advantages, NeST works with Insurance solution platform providers and technology companies.

      We deliver Digital solutions, Product implementation, development, maintenance, migration and sustenance services relating to Core Insurance Administration products, applications, compliance, automated back-office operations and enhanced customer experience.</p>
  </div>