<div>
    <img src="https://lh5.googleusercontent.com/6Ks_fUZCKMUxome0D84P1W_WzzJ5NG_hHm-swwB90iD7qzdfFs_dzelfni_nqSAbfDMvPtB3qofSwOJ08wyMNNg6BpMqKuoN84k6muFn-tDO6DJF_uHLspKYFOS0cXkRiLQk5xn7q7w1VcP9c3r7dAvznYTpPb4oyOgPQxsNGevbo3LYrApcvHvtBUspuQ" 
    class="img-fluid" alt="..." id="temp" style="width: 700px; height: 395px;">
    <p class="start"><b><span class="loading-text-words">MOBILITY</span>
    </b></p>
    <p class="te"><b>We are Revolutionizing the world of Mobility</b></p>
<p>
  Providing better solutions for overcoming the challenges of the technology curve, competition and increasing customer expectations.
  
  on the prowess of electronics to upgrade various systems used in vehicles to communicate, monitor, control, navigate and entertain.</p>
  </div>
