<div>
    <img src="https://media.licdn.com/dms/image/D4D12AQHVRQXma3iIIg/article-cover_image-shrink_720_1280/0/1680620713801?e=2147483647&v=beta&t=ig4tWv0seG3mrvZoHkX8-v3RF0r5SoIE9J7Bvef3GaI"
     class="img-fluidS" alt="..." id="tem" style="width: 700px; height: 395px;">
    <p class="start1"><b>BANKING & FINANCE</b></p>
    <p class="te"><b>Accelerating the cashless economy efficiently by adopting global standards & local priorities</b></p>
    <p>The Banking and Financial Services (BFS) Group at NeST Digital has established itself with over two decades of experience as a pioneer and leader in the GCC market by providing payment platform solutions – advanced payment solutions based on scalable microarchitecture & technology implemented to over 30 leading financial institutions is a testimony to its established credentials.</p>


