<div>
    <img src="https://dxc.scene7.com/is/image/dxc/Army%20technicians?qlt=90&wid=1200&ts=1666801157310&dpr=off" 
    class="img-fluid" alt="..." id="temp" style="width: 700px; height:395px">
    <p class="start"><b>AREOSPACE & DEFENCE
    </b></p>
    <p class="te"><b>Pushing boundaries & defending horizons with cutting-edge technologies</b></p>
    <p>NeST Digital partners with prime Global Aerospace OEMs bringing unmatched value to its customers and contributing to evolving modernization of aviation technologies.  We have expertise in vertically integrated supply chain solutions for various domains such as Design & Engineering, Manufacturing, Plastics, Metal, System Integration, Cable Harness, Software Services, and AM support.</p>
  </div>
