<img src="https://i.postimg.cc/3xqrcfb8/Rectangle-59.png" class="img-fluid" alt="..." style="float: right;">
<p class="start" style="color: navy; padding-left: 50px; padding-right: 50px; padding-top: 200px; padding-bottom: 202px; background-color: aliceblue; font-size: large;"><b>We combine our deep domain expertise, reusable digital platforms, & complimentary services to deliver world class solutions that brings outstanding success for our customers</b></p>
<p style="padding-top: 100px; text-align: center; color: rgb(64, 64, 64);"><b>INDUSTRIES</b></p>
      <table class="table table-borderless" style="padding-top: 25px; padding-bottom: 50px; text-align: center;">
        <tbody>
          <tr>
            <th  style="color: rgb(95, 95, 95); width: 10%;">INSURANCE</th>
            <th  style="color: rgb(95, 95, 95); width: 10%;">MOBILITY</th>
            <th style="color: rgb(95, 95, 95); width: 10%;">LOCOMOTIVE</th>
            <th style="color: rgb(95, 95, 95); width: 10%;">INDUSTRIAL</th>
            <th style="color: rgb(95, 95, 95); width: 10%;">AEROSPACE & DEFENCE</th>
            <th style="color: rgb(95, 95, 95); width: 10%;">BANKING & FINANCIAL SERVICES</th>
            <th style="color: rgb(95, 95, 95); width: 10%;">HEALTHCARE</th>
          </tr>
        </tbody>
      </table>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 100px; margin-top: 50px;">
        <div class="carousel-inner">
          <div class="carousel-item active" style="width: 95%;">
            <div class="card-container" style="padding: 0; margin-left: 100px; margin-right: 25px;">
                <div class="card">
                    <img src="https://i.postimg.cc/rsCWM2t2/LK.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">Lakehouse — New kid in data town</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/WbxjTqTj/Lid.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">LiDAR data for Feature Extraction</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/2jT1xGm6/Car.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">The d/dt of EV Charging</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/RVkGM4Y2/KS.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">Knative-ly Serverless</h5>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item" style="width: 95%;">
            <div class="card-container" style="margin-left: 100px; margin-right: 25px;">
                <div class="card">
                    <img src="https://i.postimg.cc/B67kpRvs/RR.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">The Reactive Revolution</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/7Ykyf8jJ/DLK.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">Data Lakehouse-5 Whys</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/02YZ2LqQ/KS2.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">Knative-ly Serverless:Unlock the Power of Serverless</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="https://i.postimg.cc/Sxq4nF2t/RR2.png" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title" style="text-align: left;">The Reactive Revolution: Leveraging Microservices</h5>
                    </div>
                </div>
            </div>
          </div>
          <div class="carousel-item" style="width: 95%;">
                <div class="card-container" style="margin-left: 100px; margin-right: 25px;">
        <div class="card">
            <img src="https://i.postimg.cc/2jJVJ6bR/DLK2.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Data Lakehouse: 5 Whys</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/GhdgYcKY/RAI.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Revolutionizing EMR with AI-Powered Voice Integration</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/nhs495yB/UP.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">Utility Pole Capture from LiDAR Point Cloud</h5>
            </div>
        </div>
        <div class="card">
            <img src="https://i.postimg.cc/25vsz0T7/IOT.jpg" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title" style="text-align: left;">NeST Digital’s IoT Solution Enables Cost-Effective Power Generation and Distribution Monitoring</h5>
            </div>
        </div>
    </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>