<div>
    <img src="https://www.pwc.com/gx/en/hero/hero-2020/im-hero-2020.jpg"
     class="img-fluidS" alt="..." id="tem" style="width: 700px;">
    <p class="start1"><b>INDUSTRIAL</b></p>
    <p class="te"><b>Where Power Meets Production: Redefining Manufacturing & Energy</b></p>
    <p>Three decades of presence in the Manufacturing & Energy segment and the acquired domain knowledge form the foundation of our offerings to our world-leading customers. knowledge of plant/equipment operational challenges (including OT and IT layer) and expertise in digital technologies is a unique combination, helping us to be a the most valued partner to our customers. We operate in Hi-Tech Factory Automation, Building Automation, Power & Smart Grid, O&G, Water and Equipment & Tools sub-verticals.</p>

  </div>
