<app-carousel></app-carousel>
<p style="padding-top: 100px; text-align: center; color: rgb(64, 64, 64);"><b>GLOBAL FOOTPRINTS</b></p>
<table class="table table-borderless" style="padding-top: 25px; padding-bottom: 50px; text-align: center;">
  <tbody>
    <tr>
      <th  style="color: rgb(95, 95, 95); width: 15%;">USA</th>
      <th  style="color: rgb(95, 95, 95); width: 15%;">INDIA</th>
      <th style="color: rgb(95, 95, 95); width: 15%;">UAE</th>
      <th style="color: rgb(95, 95, 95); width: 15%;">JAPAN</th>
      <th style="color: rgb(95, 95, 95); width: 15%;">LONDON</th>
    </tr>
  </tbody>
</table>
<div style="padding-top: 10px; padding-bottom: 50px;">
    <img src="https://i.postimg.cc/50h4pspH/map3.png" style="padding-top: 50px; padding-left: 200px;">
    <p class="para" style="padding-left: 200px; padding-top: 25px; padding-bottom: 100px;">Use link<a href="https://maps.app.goo.gl/PBcs7t5ZTHyQeK988" class="btn btn-link" tabindex="-1" role="button">43°01'50.6"N 88°06'48.1"W</a></p>
</div>